/* Bootstrap fixes */

.col-xs-12,
.col-md-6 {
    padding: 10px 10px;
}

/* All Sections Styles */

form {
    padding: 20px;
}

section {
    padding: 20px;
    background-color: #f2f2f2;
}

section:before {
    content: '';
    position: absolute;
    top: 32px;
    left: 35px;
    border: solid transparent;
    border-width: 15px 10px;
    border-left-color: #80c18c;
}

section h1 {
    margin: 0px 0px 10px 0px;
    text-shadow: 0px 1px 0px white;
    line-height: 1;
    padding: 5px 0 5px 36px;
    font-size: 28px;
    color: #2e2e2e;
}

.section-number {
    padding-right: 5px;
    position: absolute;
    left: 10px;
    top: 32px;
    width: 25px;
    height: 30px;
    line-height: 27px;
    vertical-align: middle;
    background-color: #80c18c;
    color: #fff;
    font-size: 18px;
    text-align: right;
}

.select-container {
    padding: 10px 0;
}

select {
    width: 70%;
    margin: 0;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #dadada;
}

.select-label {
    width: 29%;
}

/* Section First */

/* Radio buttons style */

#configurator-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#window-dropdown,
#radio-btn-group-container {
    padding-left: 20px;
    display: flex;
    flex-shrink: 0.5;
    align-self: center;
}

#window-dropdown {
    width: 45%;
}

#radio-btn-group-container {
    width: 55%;
}

#windows-list,
#doors-list {
    position: relative;
}

label.radio-button {
    padding: 10px 5px;
}

label.radio-button>input {
    visibility: hidden;
    position: absolute;
}

label.radio-button>input+img {
    cursor: pointer;
}

label.current {
    position: relative;
}

label.current::after,
label.current::before {
    margin-left: -5px;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    border: 5px solid transparent;
    bottom: 0;
}

label.current::before {
    top: 0;
    border-top-color: #80c18c;
}

label.current::after {
    bottom: 0;
    border-bottom-color: #80c18c;
}

/* Second Section */

#configured-container {
    padding-top: 110px;
    height: 480px;
}

#configured {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left,
.right,
.middle {
    align-self: flex-start;
}

button {
    background: linear-gradient(to bottom, #7dbe88 0%, #60a66c 99%);
    border: 1px solid #60a66c;
    color: #fff !important;
    padding: 10px 40px;
    float: right;
    margin-top: -40px !important;
}

img {
    cursor: pointer;
}

/* Section Third */

section#third {
    margin-top: 20px;
}

section#third .section-number {
    top: 210px;
}

section#third:before {
    top: 210px;
}